body {
    background: lightblue;
}
img#Headshot {
    width: 300px;
}

div#Andrew {
    margin-left: 0px;
    text-align: center;
    width: 50%;
    float: left;
}

div#about-me {
    margin-right: 0px;
    text-align: center;
    width: 50%;
    float: left;
}